# this file is a melange of several template files

file "./testfiles/databases/pseudoMotor.db" {
  pattern
  {P,      M,     Q,   DESC}
  {prj:,   m$(Q), 5,   "Filter 5"}
  {prj:,   m$(Q), 6,   "Filter 6"}
  {prj:,   m$(Q), 7,   "Filter 7"}
  {prj:,   m$(Q), 8,   "Filter 8"}
}

#-----------------------------------------------------------
# substitution with one pattern set
file "$(STD)/stdApp/Db/autoShutter.vdb"
{
    pattern
    {P           S       BL           T1      T2     A}
    {12ida1:     A      "##ID"         1       2     1}
}

file "../../33iddApp/Db/filterBladeNoSensor.db" {
  pattern
  {P,        R,        N,   DESC,           OUT}
  {33idd:,   filter:,  5,   "Filter 5",     "33idd:9440:c1:Out8"}
  {33idd:,   filter:,  6,   "Filter 6",     "33idd:9440:c1:Out9"}
  {33idd:,   filter:,  7,   "Filter 7",     "33idd:9440:c1:Out10"}
  {33idd:,   filter:,  8,   "Filter 8",     "33idd:9440:c1:Out11"}
}

#-----------------------------------------------------------
# substitution with five pattern sets
# and pattern macros named on each row
file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
    {P=12ida1:,SCANREC=12ida1:scan1,Q=m1,POS="$(Q).VAL",RDBK="$(Q).RBV"}
    {P=12ida1:,SCANREC=12ida1:scan1,Q=m2,POS="$(Q).VAL",RDBK="$(Q).RBV"}
    {P=12ida1:,SCANREC=12ida1:scan1,Q=m3,POS="$(Q).VAL",RDBK="$(Q).RBV"}
    {P=12ida1:,SCANREC=12ida1:scan1,Q=m4,POS="$(Q).VAL",RDBK="$(Q).RBV"}
    {P=12ida1:, SCANREC=12ida1:scan1,Q=m5, POS="$(Q).VAL", RDBK="$(Q).RBV"}
}

#-----------------------------------------------------------
# TODO: or (starting with base 3.15)
global { P=12ida1:,SCANREC=12ida1:scan1 }
file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
    {Q=m1,POS="$(Q).VAL",RDBK="$(Q).RBV"}
    {Q=m2,POS="$(Q).VAL",RDBK="$(Q).RBV"}
    {Q=m3,POS="$(Q).VAL",RDBK="$(Q).RBV"}
    {Q=m4,POS="$(Q).VAL",RDBK="$(Q).RBV"}
    {Q=m5,POS="$(Q).VAL",RDBK="$(Q).RBV"}
}

#-----------------------------------------------------------
# no whitespace between closing quote and open curly brace
file "../../33iddApp/Db/filterDrive.db"{
  {P="33idd:", R="filter:", DESC="33-ID-D Filters", KEV="33ida:energy"}
}
